/* 
   TABLET (até 1024px)
*/
@media (max-width: 1024px) {

    .header {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .produtos {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* 
   CELULAR (até 768px)
*/
@media (max-width: 768px) {

    .header {
        flex-direction: column;
        gap: 10px;
    }

    .logo {
        font-size: 20px;
    }

    .nav {
        flex-direction: column;
        gap: 10px;
    }

    .bot {
        width: 100%;
    }

    .produtos {
        grid-template-columns: 1fr;
    }

    .produto {
        padding: 15px;
    }

    footer {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .fot-link {
        flex-direction: column;
        gap: 10px;
    }
}